<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685448041116-efgb52jl0dhrj50vcf75035p519kuvaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685448041116-efgb52jl0dhrj50vcf75035p519kuvaa</string>
	<key>API_KEY</key>
	<string>AIzaSyDszW5XXLYa_HxtvBUCuiROXUZwY_TdgWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>685448041116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hcd.Kek-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>kek-chat-ios13</string>
	<key>STORAGE_BUCKET</key>
	<string>kek-chat-ios13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685448041116:ios:b4c7aaf5487fe6f64a1359</string>
	<key>DATABASE_URL</key>
	<string>https://kek-chat-ios13.firebaseio.com</string>
</dict>
</plist>